.header{
    position: relative;
    background-color: #EEF2FF;
}
.cancel{
    position: absolute;
    left: 31%;
    transition: all 0.3s ease;
}
.cancel:hover{
    color: rgb(151, 5, 5);
    transform: scale(1.2);
}
.checkout{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: #10B981;
    color: white;
    transition: background-color 0.3s ease;
}
.checkout:hover{
    background-color: #0c855c;
}
.checkout h6 {
    font-size: large;
}
.proceed{
    cursor: pointer;
    transition: all 0.3s ease;
}
.proceed:hover{
    transform: scale(1.1);
}
.price{
    background-color: white;
    border-radius: 20px;
    color: #10B981;
}

@media screen and (max-width: 1260px){
    .cancel{
        position: absolute;
        left: 33%;
    }
}

@media screen and (max-width: 1110px){
    .cancel{
        position: absolute;
        left: 33%;
    }
}

@media screen and (max-width: 940px){
    .cancel{
        position: absolute;
        left: 35%;
    }
}

@media screen and (max-width: 880px){
    .cancel{
        position: absolute;
        left: 39%;
    }
}

@media screen and (max-width: 808px){
    .cancel{
        position: absolute;
        left: 42%;
    }
}
@media screen and (max-width: 632px){
    .cancel{
        position: absolute;
        left: 45%;
    }
}
@media screen and (max-width: 548px){
    .cancel{
        position: absolute;
        left: 49%;
    }
}