.container{
    display: flex;
    justify-content: start;
    align-items: center;
    transition: background-color 0.5s ease;
}
.cartImage{
    object-fit: cover;
}
.container:hover{
    background-color: aliceblue;
}
.price{
    line-height: 7px;
}
.delete{
    position: absolute;
    left: 30%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.delete:hover{
    transform: scale(1.2);
}