.container{
    display: flex;
    justify-content: start;
    align-items: center;
    transition: background-color 0.5s ease;
}
.cartImage{
    object-fit: cover;
}
.container:hover{
    background-color: aliceblue;
}
.price{
    line-height: 7px;
}
.delete{
    position: absolute;
    left: 30%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.delete:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 1260px){
    .delete{
        position: absolute;
        left: 33%;
    }
}

@media screen and (max-width: 1110px){
    .delete{
        position: absolute;
        left: 33%;
    }
}

@media screen and (max-width: 940px){
    .delete{
        position: absolute;
        left: 35%;
    }
}

@media screen and (max-width: 880px){
    .delete{
        position: absolute;
        left: 39%;
    }
}

@media screen and (max-width: 808px){
    .delete{
        position: absolute;
        left: 42%;
    }
}

@media screen and (max-width: 632px){
    .delete{
        position: absolute;
        left: 45%;
    }
}
@media screen and (max-width: 548px){
    .delete{
        position: absolute;
        left: 49%;
    }
}