.header{
    position: relative;
    background-color: #EEF2FF;
}
.cancel{
    position: absolute;
    left: 31%;
    transition: all 0.3s ease;
}
.cancel:hover{
    color: rgb(151, 5, 5);
    transform: scale(1.2);
}
.checkout{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: #10B981;
    color: white;
    transition: background-color 0.3s ease;
}
.checkout:hover{
    background-color: #0c855c;
    cursor: pointer;
}
.checkout h6 {
    font-size: large;
}
.price{
    background-color: white;
    border-radius: 20px;
    color: #10B981;
}