html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #F3F4F6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cartModal {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 2000;
}

.cartModal .modalContainer {
  position: absolute;
  top: 0;
  right: -100%;
  transform: translate(-50%, 0%);
  background-color: white;
  width: 88%;
  height: 100%;
  overflow-y: auto;
  float: left;
  /* text-align: center; */
}
.globalModal{
  position: fixed;
  top: 45%;
  right: 0;
  z-index: 3000;
  cursor: pointer;
}
.globalPrice{
  background-color: #1abb85;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.globalItems{
  display: flex;
  justify-content: center;
  align-items: center;
}
.globalItemsContainer{
  background-color: #e2e3e6;
  padding-top: 3px;
  padding-bottom: 1px;
  border-radius: 5px;
}
