.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(177, 175, 175);
    border-radius: 5px;
}
.productImg{
    object-fit: cover;
    transition: all 0.3s ease;
}
.productImg:hover{
    transform: scale(1.2);
}
.summery{
    height: 68vh;
    border: 1px solid rgb(177, 175, 175);
}
.loginBtn{
    background-color: #159c6f;
    padding: 0.8rem 0.2rem;
    border-radius: 7px;
    border: none;
    color: white;
    transition: background-color 0.2s ease;
}
.loginBtn:hover{
    background-color: #127e5a;
}
.notPaid{
    background-color: rgb(216, 9, 9);
    color: white;
}
.paid{
    background-color: #159C6F;
    opacity: 0.8;
    color: white;
}
.dashboard_menu a{
    line-height: 3rem;
    font-size: larger;
    transition: all 0.3s ease;
}
.dashboard_menu a:hover{
    background-color: #159C6F;
    color: white;
    border-radius: 7px;
}
.orderNumber{
    border: 1px solid rgb(180, 179, 179);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orderIcon{
    font-size: 2rem;
}